<p class="title">Boggle Quiz Bowl</p>
<p class="description">Boggle Quiz Bowl is a minigame that involves answering 
simple Yes/No question related to words on a Boggle board. It might be
more difficult than you think! Log in for highscore tracking or play as guest.</p>

<form id="login" action="login" method="post">
<div class="row">
    <div class="small-4 columns">
	    <input type="text" name="username" id="login_username"  placeholder="Username" />
	</div>
	<div class="small-4 columns">
	    <input type="password" name="password" id="login_password" placeholder="Password" />
	</div>
	<div class="small-2 columns">
       <a class="small button" id="loginbutton">Login</a>
    </div>
    <div class="small-2 columns">
       <a class="small secondary button" id="guestbutton">Guest</a>
    </div>
</div>
</form>
